.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;

	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 1.5em;
			left: -999em;
			z-index: 99999;
			background-color: white;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a {
			}

			a:hover {
			}
		}

		li:hover > ul {
			left: auto;
		}
	}
	li {
		padding: 0.25em;
		float: left;
		position: relative;

		&:hover > a {
		}
	}
	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled .nav-menu {
	display: block;
	position: relative;
	padding-left: 1.25em;
	margin: 1em;
	cursor: pointer;
	border: none;
	background-color: inherit;
	box-shadow: none;
}

.menu-toggle:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.25em;
  width: 2em;
  height: 0.15em;
  background: black;
  box-shadow: 
    0 0.5em 0 0 black,
    0 1.0em 0 0 black;
}

.main-navigation ul {
	display: none;
}

.main-navigation :hover ul {
	display: block;
}

@media screen and (min-width: 37.5em) {

	.menu-toggle {
		display: none;
	}
	.main-navigation ul, .main-navigation ul a {
		display: block;
	}
}

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}
