.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}

.webmention-list, .comment-list {
		ul {
			margin-bottom: 10px;
		}
		li {
			margin-bottom: 10px;
		}
}

footer.comment-metadata {
		font-size: 0.6em;
}
