.sticky {
	display: block;
}

.entry {
	margin: 0 0 1.5em;
	border-top: 1px solid grey;
}

.hfeedname {
	display: none;
}

.byline,
.updated:not(.published), .dt-updated:not(.dt-published) {
	display: none;
}

.published, .dt-published {
        float: right;
}

.single .byline,
.group-blog .byline {
	display: none;
}

.content {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
